STREAK_CLUB_STAGING_URL=https://www.reddit.com/r/SacDevTest/comments/YOUR_STAGING_TRACKER_POST_ID/
STREAK_CLUB_STAGING_SUBREDDIT=SacDevTest
STREAK_CLUB_NON_STAGING_URL=https://www.reddit.com/r/streak_club_dev/comments/YOUR_NON_STAGING_TRACKER_POST_ID/
STREAK_CLUB_NON_STAGING_SUBREDDIT=streak_club_dev
STREAK_CLUB_MOD_AUTH=playwright/.auth/reddit-mod.json
STREAK_CLUB_USER_AUTH=playwright/.auth/reddit-user.json
